{% extends "pointer_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <a href="{{ url_for('admin.view_trips') }}">
        <pb> Tripy</pb>
    </a>
    /
    <a href="{{ url_for('admin.view_trip', trip_id = trip.id) }}">
        <pb> Trip {{ trip.id }} </pb>
    </a>
{% endblock %}
{% block app_content %}

    {% if trip.update_balance %}
        <h1>Przejazd płatny, {{ trip.total_kilometers }} kilometry</h1>
    {% else %}
        <h1>Darmowy przejazd, {{ trip.total_kilometers }} kilometry</h1>
    {% endif %}
    <br>
    <table id="paginatedTable" class="display" style="width:100%">
        <thead>
        <th>User</th>
        <th>Kilometry</th>
        </thead>
        <tbody>
        {% for trip_user in trip.trip_users %}
            <tr>
                <td><p>{{ trip_user.user.name }}</p></td>
                <td><p>{{ trip_user.kilometers }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/paginated_table.js') }}"></script>

{% endblock %}

